<img src="/site/assets/images/dieci_anni_insieme_2015.jpg" alt="logo" width="100%"
     style="box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15); border-radius: 10px; display: block; margin: 0 auto">

<div class="contact">
    <h3>Contatti</h3>

    <p>
        <strong>Email:</strong>
        <a href="mailto:presidente@sindromedicrisponi.it">
            presidente@sindromedicrisponi.it
        </a>
    </p>

    <p>
        <strong>Telefono:</strong>
        0783 463535
    </p>

    <p>
        <strong>Cellulare:</strong>
        393 9601620
    </p>
</div>